@font-face {
    font-family: armanistyle;
    src: url(BodoniFLF.ttf);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body {
    overflow-x: hidden;
}
nav {
    background-color: black;
    height: fit-content;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
nav > h1 {
    font-family: armanistyle;
    color: white;
    font-size: 8vw;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-self: center;
}
footer {
    background-color: black;
    height: fit-content;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: rgb(175, 175, 175);
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    justify-self: center;
}
div {
    background: transparent;
    flex-direction: horizontal;
    max-height: fit-content;
    margin-bottom: 3vw;
    margin-top: 5vw;
    width: 100vw;
    display: flex;
}
div.mirror {
    background: transparent;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
img {
    border-radius: 30px;
    width: 275px;
    height: 300px;
   object-fit: scale-down;
}